*{ margin:0; padding:0; list-style:none;}
#divSmallBox{overflow:hidden;*display:inline;*zoom:1;width:10px;height:10px;margin:0 5px;border-radius:10px;background:#ffffff;}
#playBox{ height:18rem;position:relative;overflow: hidden !important;}
#playBox .oUlplay { width:99999px; position:absolute; left:0; top:0;}
#playBox .oUlplay li{ float:left;width: }
#playBox .pre{ cursor:pointer; width:4.5rem; height:4.5rem; position:absolute; top: 5.6rem;left: -1rem; z-index:999;}
#playBox .next{ cursor:pointer; width:4.5rem; height:4.5rem; position:absolute; top: 5.6rem;right: -1rem; z-index:999;}
#playBox .smalltitle {
	z-index:10;
	zoom: 1;
	text-align: center;
	bottom: 0rem;
	right: 43%;
	width: 4rem;
	height: 1rem;
	font-size: 0;
	line-height: 0;
	background: 0 0;
	position: absolute;
	left: auto;
	}
#playBox .smalltitle ul{ width:120px; margin:0 auto;}
#playBox .smalltitle ul li{ width:10px; height:10px; margin:0 5px; border-radius:10px; background: rgba(255,255,255,0.5); float:left; overflow:hidden;*display:inline;*zoom:1;}
#playBox .smalltitle .thistitle{ background:#69aaec;}
.icon-nav{
	height:8rem;width:30rem;margin:0 auto;
}
.icon-list{
	height:7.5rem;width:7.5rem;float:left;padding: .5rem;
	}
.recommend-movies{width:30rem;margin:0 auto}

