dl.list {
margin: 1rem;
margin-bottom: 0;
background-color: #fff;
}
user agent stylesheetdl {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
dl.list dt:last-child, dl.list dd:last-of-type {
border-bottom: 0;
}
dl.list dt, dl.list dd {
margin: 0;
border-bottom: 1px solid #ddd8ce;
overflow: hidden;
font-size: inherit;
font-weight: 400;
position: relative;
}
user agent stylesheetdd {
display: block;
-webkit-margin-start: 40px;
}
dl.list dd dl {
margin: 0;
margin-bottom: -1px;
padding-left: .2rem;
border: 0;
}
user agent stylesheetdl {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
dl.list dd dl>.dd-padding, dl.list dd dl dd>.react, dl.list dd dl>dt {
padding-left: 0;
}
dl.list dt {
font-size: 1.6rem !important;
padding-bottom: .2rem;
color: #333;
}
dl.list .dd-padding, dl.list dt, dl.list dd>.react {
padding: .28rem .2rem;
}
dl.list dt, dl.list dd {
margin: 0;
border-bottom: 1px solid #ddd8ce;
overflow: hidden;
font-size: inherit;
font-weight: 400;
position: relative;
}
user agent stylesheetdt {
display: block;
}
Inherited from dd
dl.list dt, dl.list dd {
margin: 0;
border-bottom: 1px solid #ddd8ce;
overflow: hidden;
font-size: inherit;
font-weight: 400;
position: relative;
}
.coupons small {
float: right;
font-size: .28rem;
}
weak, small {
color: #666;
}
user agent stylesheetsmall {
font-size: smaller;
}
dl.list dd dl>.dd-padding, dl.list dd dl dd>.react, dl.list dd dl>dt {
padding-left: 0;
}
dl.list .dd-padding, dl.list dt, dl.list dd>.react {
padding: .28rem .2rem;
}
dl.list dt, dl.list dd {
margin: 0;
border-bottom: 1px solid #ddd8ce;
overflow: hidden;
font-size: inherit;
font-weight: 400;
position: relative;
}
.coupons-code {
color: #666;
text-indent: .2rem;
}
dl.list dd dl>.dd-padding, dl.list dd dl dd>.react, dl.list dd dl>dt {
padding-left: 0;
}
dl.list .dd-padding, dl.list dt, dl.list dd>.react {
padding: .28rem .2rem;
}
a.react, label.react {
display: block;
color: inherit;
height: 100%;
}
.space{
	height:1rem;width:100%;background-color: #F0EFED;
	}
.space_noborder{
	height:1rem;width:100%;
	}
.space_noborder_xs{
height:.5rem;width:100%;
}