@import url(../../../../../fonts.usesos.com/css@family=Open+Sans_3A300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(../../../../../fonts.usesos.com/css@family=Dosis_3A200,300,400,500,600,700,800);
@import url(../../../../../fonts.usesos.com/css@family=Raleway_3A400,100,200,300,500,600);
@import url(../../../../../fonts.usesos.com/css@family=Lato_3A400,700,900);
.index_headicon{width:100px;height:100px;overflow: hidden; float:left;}
.index_headicon img{width:100%;}
.index_user_info_panel{margin:0 auto;height:100px;width:350px;}
.error_msg{
	color:red;
	font-weight:800;
}
.index_user_info{
	 height:100px;
     padding: 1rem;
     color:#fff;
     float:left;
     line-height: 100% !important;
     width:250px;
     }
.index_user_info p{margin:0px;font-size:16px;}
.mainColorBg{background:#FE3555;height:210px;}
.index_user_info .right{
	float:left;
	text-align: left;
}

.useTemplatesIndexBg{}
.useTemplatesSpace{}
.useTemplatesCopyright{}
.useTemplatesButton{background-color:#FE3555 !important;border-color: #FE3555 !important; }
.useTemplatesButton:hover{background-color:#FE3555 !important;}
.index_scan{margin:0 auto;height:40px;width:100px;padding-top:10px;}
.index_scan_icon{width:20px;height:20px;float:left}
.index_scan_icon img{width:100%}
.index_scan_font{float:left;color:#fff;font-size:1.8rem;margin-left:5px}
.indexButton{border-radius:6px;font-size:1.6rem;}
.index_bg{margin-bottom: 0px !important;background-color: #FE3555  !important;box-shadow: 0 0 0 rgba(0,0,0,.7) !important; border-color: #fff !important}
.top_scan_icon{width:40px;height:40px;float:left;}
.top_scan_icon img{width:100%}
#shopInfoArea{display: none}
select{
	font-size:1.4rem !important;
	width:30% !important;
	padding:.5rem !important;
	height:3.5rem !important;
}
html{
	font-size: 10px !important;
	font-family: Roboto,sans-serif !important;
	-webkit-font-smoothing: antialiased !important;
	font-weight: 300 !important;
}
.recent-post p{
	font-size: 1.4rem !important;
}
.recent-post{
}
.recent-post .price{
	font-size: 1.4rem !important;
}
.container{width:100% !important;}
.pricepanel{
	color: #666;
	position: relative;
}
.pricepanel strong{
	font-size: 3rem !important;
	font-weight: bold !important;
	color:#EC6701 !important;
}
.pricepanel .line-right {
position: absolute;
bottom: .4rem;
right: 0;
}
.head_logo{
	width:2.0rem !important;
	height:3.8rem !important;
	overflow: hidden;
	float:left;
}
.head_title{
	width:9.3rem !important;
	height:3.8rem !important;
	overflow: hidden;
	float:left;
	color:#fff;
	font-size: 1.8rem;
	padding:1.3rem 0rem .5rem 0rem;
}
.nav-wrap-left {
height: 4.8rem !important;
line-height: 4.8rem !important;
float:left !important;
}
.nav-wrap-left .iconfont{
	font-size: 2.6rem;
	color:#fff;
}

.btn-msg{background: rgba(0,0,0,.1) !important;color:#fff !important;}
.absolutePostion{position: fixed;bottom:0; left:0;width:100%;background: rgba(0,0,0,.7);color:#fff;font-size:1.6rem;font-weight:400;text-align: center;height:40px;z-index:5000;padding:5px 10px;}
.absolutePostion span{color:#fff;font-size:1.6rem;font-weight:400;width:100%;}
.head_button{float:left;height:5rem;}
.head_button .logo-home{height:4rem;margin-top: .5rem;padding:0rem 0rem;}
.head_button .btn-default {border-color: #FF3556 !important;background-color: #FF3556 !important;}
.head_button .btn-default:hover {border-color: #c4364d !important;background-color: #c4364d !important;}
.head_button .btn-default .iconfont{color:#fff !important;-webkit-text-stroke-width: 0.2px;}
.head_button .btn-default .iconfont:hover{color:#fff !important}
.head_button .logo-home .iconfont{font-size: 4rem !important}
.logo-home img{width:100% !important;}
/***************************************/
.list_style{height:8rem !important;}
.list_style:hover{background-color: #fdf3eb}
.dealcard-img {
position: absolute;
width: 11rem;
height: 8rem;
text-align: center;
overflow: hidden;
}
.dealcard-img img{width:11rem !important;height:8rem !important}
.dealcard-block-right{
margin-left: 12rem;
height:8rem !important;
}
.dealcard-block-right .title{
	height:1.8rem !important;
}
.dealcard-block-right .detail{
	height:2.2rem !important;
}
.dealcard-block-right .pricepanel{
	height:2rem !important;
}
/****************************************/
.dealcard-img-user {
position: absolute;
width: 5rem;
height: 5rem;
text-align: center;
overflow: hidden;
}
.dealcard-img-user img{
width: 5rem !important;
}
.dealcard-block-right-user{
margin-left: 6rem;
height:5.5rem !important;
}
.dealcard-block-right-user .title{
	height:2rem !important;
}
.dealcard-block-right-user .detail{
	height:3.5rem !important;
}
.dealcard-block-right-user .detail strong{
	font-size: 2rem;
	color:#3D474A;
	font-weight: 300;
}
.list_style_user{height:5.5rem !important;}
/****************************************/
.dealcard-img-bouns {
position: absolute;
width: 5.5rem;
height: 5.5rem;
text-align: center;
overflow: hidden;
}
.dealcard-block-right-bouns{
margin-left: 6rem;
height:5.5rem !important;
}
.dealcard-block-right-bouns .title{
	height:1rem !important;
}
.dealcard-block-right-bouns .detail{
	height:4.5rem !important;
}
.dealcard-block-right-bouns .detail strong{
	font-size: 2rem;
	color:#3D474A;
	font-weight: 300;
}
.list_style_user{height:5.5rem !important;}
/****************************************/
.content{padding: 0rem !important}
img{
	width:100% !important;
	border-width: 0px !important;
	padding: 0px !important;}
.blog-post .post-content p{
	font-size: 1.4rem !important;
}
.navbar .container{
	background-color: #FF3556;
	padding: 0px !important; box-shadow: 0 1px 10px rgba(0,0,0,.7);
     -moz-user-select: none;
	}
.container .index_pic{width:15rem !important;margin:auto !important;overflow:hidden !important;}
.container .index_pic img{width:100% !important}
.container{padding: 0rem .5rem  !important}
.list{font-size: 1.4rem !important}
.list .ul li{font-size: 1.4rem !important; color:#333 !important}
.hollow{background-color:inherit !important;color:inherit !important}
.divleft{float:left !important;margin-left: 1rem}
.footer{margin-top: -1rem}
.navbar-default{border-width: 0 !important}
.tableList{border: .1rem 0 #F0EFED solid;height: 4.7rem; font-size: 1.4rem;padding:.5rem 0rem}
.list-lg{height:10rem !important}

.tableList .detail{float:left;width:19rem;padding:1rem 0rem;}
.tableList .status{float:right;width:8rem;padding:1rem 0rem;}

.downborder a{height:100%;
transition: background 1s, transform 2s;
-moz-transition: background 1s, -moz-transform 2s;
-webkit-transition: background 1s, -webkit-transform 2s;
-o-transition: background .5s, -o-transform 2s;
}
.downborder a:hover{
	transition: background 1s, transform 2s;
	-moz-transition: background 1s, -moz-transform 2s;
	-webkit-transition: background 1s, -webkit-transform 2s;
	-o-transition: background .5s, -o-transform 2s;
	background: rgba(0,0,0,0.1) !important;}

.tableList .list_left{width:25%;float:left;padding:1rem 0rem 1rem .5rem}
.tableList .list_middle{width:40%;float:left;padding:1rem 0rem 1rem 0rem}
.tableList .list_right{width:35%;float:left;padding:1rem 0rem 1rem 0rem;text-align: right}
.tableList .list_right .iconfont{color:#ccc;}

.menu-list{height:2.5rem;}
.menu-list li{width:33.3%;margin:0px;text-align: center}
.menu-list li img{width: 100px !important;margin: 0 auto;}
.menu-list li button{width:100%;border-radius:0px !important;border-color: #DC3C00;color:#DC3C00}
.menu-list li .active{border-color: #DC3C00;background-color:#DC3C00;color:#fff }

.backred{background-color:#DC3C00 !important; }
.backgreen{background-color: #5cb85c !important;}
.backblue{background-color: #428bca !important;}

.borderred{border-color:#DC3C00 !important; }
.bordergrren{border-color: #5cb85c !important;}
.borderblue{border-color: #428bca !important;}

.fontred{color:#DC3C00 !important; }
.fontgrren{color: #5cb85c !important;}
.fontblue{color: #428bca !important;}
.fontwhite{color: #fff !important;}
.fontblack{color: #000 !important;}

.updownborder{
	border-top:solid .1rem #F0EFED;
	border-bottom:solid .1rem #F0EFED;
}
.downborder{
	border-bottom:solid .1rem #F0EFED;
}
.upborder{
	border-top:solid .1rem #F0EFED;
}
.leftrightborder{border:solid 0rem .1rem #F0EFED}
.allborder{border:.1rem solid #F0EFED}

.bouns{color:#DC3C00;font-size: 5rem !important}

.drawer-default .drawer-nav-list li a {
display: block;
padding: 1.5rem 1.5rem !important;
font-size:1.4rem !important;
color: #ebebeb !important;
text-align: center !important;
}
.drawer-default .drawer-nav-list li{
	background-color: #181818 !important;
	margin-bottom: 0 !important;
	border-bottom: .1rem solid #000;
}
.drawer-default .drawer-nav-list li:hover{
	background-color: #000 !important;
}
.drawer-default .drawer-nav-list li:active{
	background-color: #000 !important;
	
}
.bounsBtn{
	transition: box-shadow 2s, transform 2s;
	-moz-transition: box-shadow 2s, -moz-transform 2s;
	-webkit-transition: box-shadow 2s, -webkit-transform 2s;
	-o-transition: box-shadow 2s,-o-transform 2s;
	border-radius:12px;
	}
.bounsBtn.active{
	background-color: #fff;border-radius:12px;box-shadow: 0 1px 5px rgba(0,0,0,.2); -moz-user-select: none;
		transition: box-shadow 1s, transform 1s;
	-moz-transition: box-shadow 1s, -moz-transform 1s;
	-webkit-transition: box-shadow 1s, -webkit-transform 1s;
	-o-transition: box-shadow 1s,-o-transform 1s;
	}
.drawer-default .drawer-nav-title {
display: block;
padding: 1.5rem 1.5rem 0 1,5rem !important;
font-size: 1.8rem !important;
color:#7f7f7f !important;
}
.payimg{
	width:4rem !important;
	float:left;
}
.info{
	width:90%;margin:0 auto;text-align: center;
}
.info img{width:100%;}
#user_index_menu .btn{border-radius:0 !important;margin-right: 0rem !important;}
#user_index_menu li{margin:0rem !important}
.gallery li a{margin: 0rem !important;}
.gallery li {
list-style: none!important;
width: 32.33333333% !important;
overflow:hidden !important;
margin-right: 1% !important;
}
.gallery li img{
width: 15rem !important;
height:11rem !important;
}
#cate_nav_bar{
	top:5rem !important;
	background-color: transparent;
}
#cate_nav_bar_foot{
	background: rgba(0,0,0,0.8);
	border-color: transparent;
}
#cate_nav_bar_foot .left-area{padding:.5rem;float:left;width:30%}
#cate_nav_bar_foot .right-area{padding:.5rem;float:left;width:70%;text-align: right}

.city_list li{float:left; font-size: 1.4rem;border: .1rem solid #dedede;padding: .5rem;margin:0 !important;width:25%;height:3rem;text-align: center}
.city_list li:hover{background-color: #A0A0A0; color:#fff}
.city_list{margin: 0 auto; overflow: hidden;width:100%;}

.searchBarArea{width:100%;position: absolute;top:0; z-index: 99999;background-color: #fff}

.shop_detail_list li span{color:#000}
.shop_detail_list li a{color:#000;}
.shop_detail_list li{float:left;width:25%;height:3rem;font-size: 1.2rem;padding:.6rem 0rem; text-align: center;color:#000}
.shop_detail_list li:hover{border-bottom: 2px solid #FF3556}
.shop_detail_list{width:100%;height:3rem;background-color: #fff;; list-style: none}
.noradius{border-radius: 0px !important}
.back:hover{background-color: #000;}
.back .iconfont:hover{color: #ccc;}
.drawer-main {
width: 200px !important;
}
.drawer-default .drawer-brand a {
font-size: 16px !important;
}
.drawer-right.drawer-open .drawer-overlay, .drawer-right.drawer-open .drawer-hamberger {
right: 200px !important;
}
.haspadding{padding: 0rem 1rem !important;}

.fullImage{width:100%;height:20rem;overflow: hidden;}
.fullImage img{width:100%;}

.icon-list a:hover{background:rgba(255,255,255,0.6); border-radius:40px}


.btn-menu{width:100%;border:1px solid #FF3556;color:#FF3556;padding:.5rem 1rem !important;font-size: 1.4rem;text-align: center}
.btn-menu:active{border:1px solid #FF3556;color:#fff; background-color: #FF3556}
.btn-menu.active{border:1px solid #FF3556;color:#fff; background-color: #FF3556}
.btn-menu-left{
	border-bottom-left-radius: 4px !important;
	border-top-left-radius: 4px !important;
}
.btn-menu-right{
	border-bottom-right-radius: 4px !important;
	border-top-right-radius: 4px !important;
}
.react:hover{background-color: #c4364d;}

.weixin_alert{
	position: absolute;
	top:10px;	
	right:10px;
	z-index:2000;
	width:200px;
	display: none;
}
.pricepanel span{font-weight: 800;font-size: 1.4rem;color:#666;margin-right: 5px;}

.coin_right_pic{position: absolute;right:10px;width:100px;top: 10px;}

.detail_shop_list{width:100%;color:#666666}

.error_form{
	border:1px solid red !important;
}
.bg-alert{background-color: red; border:1px solid red; color:red}

.menu_icon{width:25px;height:25px;float:left}
.menu_title{float:left;font-weight:800;font-size:1.6rem}
.menu_icon img{width:100% !important;}

.loading_tag{position: fixed; margin: 0 auto; right:35%;top:40%;width:30%; height:auto; background: rgba(0,0,0,.7);border-radius:12px;display:none;z-index:5000}
.loading_text{color:#fff;font-weight: 400;font-size:1.6rem;text-align: center;margin:10px 5px 10px 5px}
.loading_img{width:60%;margin:10px auto}
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
/************************add by jack mao***********************************/
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
* {
	appearance:normal;
	-moz-appearance: none;
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	outline: none;
	font-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}
*:focus {
	outline: none;
}

*,*:after,*:before {	-webkit-box-sizing: border-box;	-moz-box-sizing: border-box;	box-sizing: border-box;	padding: 0;	margin: 0;}

body {
	margin: 0;
	padding: 0;
	line-height: 18px;
	font-size:12px;
}


::selection {
	background-color: none;
	color: #FC5858;
}

div, a, p, img, blockquote, form, fieldset, textarea, input, label, iframe, code, pre {
	display: block;
	position:relative;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
}
p > a {
	display: inline;
	text-decoration: none;
}
p > a:hover {
	text-decoration: underline;
}
p > span {
	display: inline;
}
span > a {
	display: inline;
}
a > span {
	display: inline;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

h1 {
	font-size: 22px;
	line-height: 26px;
}
h2 {
	font-size: 20px;
	line-height: 24px;
	padding-bottom: 1px;
}
h3 {
	font-size: 18px;
	line-height: 22px;
	padding-top: 1px;
}
h4 {
	font-size: 16px;
	line-height: 20px;
	padding-bottom: 1px;
}

h6{
	font-size:12px;
	line-height:18px;
	padding-bottom:1px;
}

h5 {
	font-size: 14px;
	line-height: 18px;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
	display: inline;
}
h1, h2, h3, h4, h5{
	font-weight:600; 
	margin-bottom:5px;	
}

table {
	border-collapse: separate;
	border-spacing: 0;
	background-color: #f6f6f6;
	border-left: 1px solid #e9e9e9;
	border-top: 1px solid #e9e9e9;
	width: 100%;
	clear: both;
	margin-bottom: 27px;
}
thead {
}
th {
	vertical-align: middle;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	font-weight: bold;
	color: #555;
	background-color: #f6f6f6;
}
tr {
	line-height: 18px;
}
td {
	border-right: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	text-align: center;
	color: #666;
	padding-top: 9px;
	padding-bottom: 9px;
	line-height: 18px;
	vertical-align: middle;
	background-color: #fdfdfd;
}
tr:hover > td {
	background: #fff;
}

ul {
	margin-bottom: 20px;
}

.regular-list{
	overflow:visible!important;
	margin-left:0px;
}

.number-list li{
	overflow:visible!important;
	margin-left:0px;
	list-style:decimal;
	margin-left:20px;
}

ol {
	margin-bottom: 20px;
}
li {
	line-height: 18px;
	margin-bottom:5px;
}

ol > li:last-child, ul > li:last-child {
    margin-bottom:0px;	
}
.clear {
	clear: both;
	height: 0px;
	line-height: 0px;
}

.float-left{
	margin-right:10px;
}

.float-right{
	margin-left:10px;
}

.no-bottom{ 	margin-bottom:0px!important;}
.no-top{		margin-top:0px!important;}
.half-bottom{	margin-bottom:10px!important;}
.full-bottom{	margin-bottom:20px!important;}
.responsive-image{ max-width:100%;}
.uppercase{	text-transform:uppercase!important;}
.float-left{float:left;}
.float-right{float:right;}
.tablet-only{display:none;}
.tablet-landscape-content{display:none;}
.tablet-portrait-landscape-content{display:none;}
.center-text-on-mobile{text-align:center;}

.center-icon{
	width:70px
}

.icon{
	display:inline-block;
	height:32px;
	width:32px;	
	border-radius:32px;
}

.column-icon{
	width:90px;
}


.swipe-notification{
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	-o-user-select: none;
	user-select: none;    
	cursor:pointer;
	background-color:#f1f1f1;
}

.white-box{
	background-color:#f1f1f1;
	border:solid 1px #cacaca;
}

.swipe-notification{
	padding:20px;
	padding-bottom:0px;
}

.swipe-notification a strong{
	font-family:'Lato', sans-serif;
	color:#e34e47;
	font-weight:800;
	font-size:13px;
}

.swipe-notification a{
	color:#3b4043;
	font-size:11px;
	line-height:16px;	
	background-repeat:no-repeat;
	background-position:0px 5px;
	float:left;
	display:inline-block;
	width:100%;
	overflow:visible!important;
	margin-bottom:20px!important;
}

.swipe-button{
	display:none;
	float:right;
	width:0px;
	height:30px;
	text-align:center;
	background-color:#000000;
	color:#FFFFFF;
	font-size:10px;
	line-height:30px;
	text-transform:uppercase;
}

.swipe-tick-cross{
	padding:15px 20px;
}

.swipe-tick-cross a{
	font-family:'Open Sans', sans-serif;
	color:#5e5e5e;
	background-repeat:no-repeat;
	padding-left:35px;
	text-transform:uppercase;
	font-size:12px!important;
	background-position:0px 1px;
}

.swipe-null-box{
	background-image:url(../images/ui/empty.png);
}

.swipe-check-box{
	display:none;
	background-image:url(../images/ui/cross.png);
}

.swipe-tick-box{
	display:none;
	background-image:url(../images/ui/tick.png);
}


.white-notification{
	padding-top:20px;	
	padding-right:10px;
	padding-left:10px;
}

.white-notification a strong{
	color:#e34e47;
	font-weight:800;
	font-size:13px;
}

.white-notification a{
	height:28px;
	color:#3b4043;
	padding-left:40px;
	font-size:10px;
	line-height:14px;
	overflow:visible!important;
	font-family:'Lato', sans-serif;	
	background-repeat:no-repeat;
	display:block;
	width:100%;
	background-position:0px 5px;
}

.white-notification a em{
	font-family:'Lato', sans-serif;
	font-size:12px;
	color:#3b4043;
	font-weight:800;
	font-style:normal;
	float:right;
	margin-top:-8px;	
}

.white-information{	background-image:url(../images/notification/info.png);}
.white-warning{		background-image:url(../images/notification/warning.png);}
.white-question{	background-image:url(../images/notification/tip.png);}
.white-disabled{	background-image:url(../images/notification/disable.png);}


/*Add The Above To Proper Files */


.content{
	padding-left:20px;
	padding-right:20px;
}

.container{	
	margin-bottom:20px;
}

body{
	-webkit-font-smoothing: antialiased;
	overflow-x:hidden;
}


/*//////////////////////////////////////////////////////////////*/
/*---Framework CSS Images And Editable Styles - Epsilon v1.0----*/
/*//////////////////////////////////////////////////////////////*/

.shadow{
	text-shadow:0px 1px 0px #FFFFFF;
}

.italic{
	font-style:italic;
}

h1,h2,h3,h4,h5,h6{
	font-weight:400;
}

p,em,strong,ul,li,ol{
	letter-spacing:0.8px;
}

h1 > a						{	color:#5e5e5e; 		font-family: 'Dosis', sans-serif;		}
h2 > a						{	color:#5e5e5e; 		font-family: 'Dosis', sans-serif;		}
h3 > a						{	color:#5e5e5e; 		font-family: 'Dosis', sans-serif;		}
h4 > a						{	color:#5e5e5e;		font-family: 'Dosis', sans-serif;		}
h5 > a						{	color:#5e5e5e; 		font-family: 'Dosis', sans-serif;		}
h6 > a						{	color:#5e5e5e; 		font-family: 'Dosis', sans-serif;		}
h1, h2, h3, h4, h5, h6		{	color:#000000;		font-family: Arial,"Microsoft YaHei" ,sans-serif;	}
span						{	color:#000;		font-family: Arial,"Microsoft YaHei" ,sans-serif;	}
body						{	color:#000;		font-family: Arial,"Microsoft YaHei" ,sans-serif;	}
input						{						font-family: Arial,"Microsoft YaHei" ,sans-serif;}
li, ul						{	color:#000;		}
a							{	color:#e34e47;		}
em							{	color:#000;		}
blockquote					{	color:#000!important;}
.filtrable-caption			{	color:#000;}
.dropcaps					{	color:#333333;}
.field-title				{	color:#333333;}

.image-decoration{
	box-sizing:border-box;
	background-color:#FFFFFF;
	padding:4px;
	border:solid 1px #cacaca;
}

/*////////////////////////////////*/
/*----Background Color Styles-----*/
/*////////////////////////////////*/
.bg-orange{		background-color:#e34e47;			color:#FFFFFF!important;	}
.bg-yellow{		background-color:#ffd100;			color:inherit;				}
.bg-green{		background-color:#518900;			color:#FFFFFF!important;	}
.bg-gray{		background-color:#424242;			color:#FFFFFF!important;	}
.bg-light-gray{	background-color:rgba(0,0,0,0.1); 	color:#333333!important;	}
.bg-dark-gray{	background-color:rgba(0,0,0,0.7);	color:#FFFFFF!important;	}
.bg-light{		background-color:rgba(0,0,0,0.05);  color:#333333!important;	}
.bg-touming{ background-color: transparent; !important}
/*/////////////////////////////////////////////////////////////////////////////////////*/		
/*-----------------------------Quotes Style--------------------------------------------*/
/*/////////////////////////////////////////////////////////////////////////////////////*/

.quote em{			font-family:'Open Sans', sans-serif;	font-weight:400;	font-size:12px;	display:block;	line-height:18px;}
.quote strong{		font-size:10px;							display:block;		text-align:right;}
.quote-icon{		font-family:'Open Sans', sans-serif;	font-weight:400;	font-size:12px;	line-height:18px;	margin-top:10px;}
.quote-icon em span{										margin-right:10px;	float:left; margin-top:3px;}
.quote-icon strong{											display:block;		text-align:right;	font-size:10px;}


/*/////////////////////////////////////////////////////////////////////////////////////*/		
/*-----------------------------Toggle Style 5------------------------------------------*/
/*/////////////////////////////////////////////////////////////////////////////////////*/
.show-toggle-v5{		background-image:url(../images/ui/minus.png);					}
.hide-toggle-v5{		background-image:url(../images/ui/plus.png);					}

.toggle-v5 a{			color:#999999!important; font-family:'Open Sans', sans-serif!important; font-weight:400!important; font-size:14px; text-transform:uppercase;	}
.toggle-container-v5{	color:#9a9a9a!important; background-color:#f1f1f1;	}

/*/////////////////////////////////////////////////////////////////////////////////////*/		
/*-----------------------------Toggle Style 4------------------------------------------*/
/*/////////////////////////////////////////////////////////////////////////////////////*/
.show-toggle-v4{		background-image:url(../images/lists/delete_16.png);			}
.hide-toggle-v4{		background-image:url(../images/lists/plus_16.png);				}

.toggle-v4 a{			color:#999999!important; font-family:'Open Sans', sans-serif!important; font-weight:400!important;	font-size:14px; text-transform:uppercase;	}
.toggle-container-v4{	color:#9a9a9a!important; background-color:#f1f1f1;	}

/*/////////////////////////////////////////////////////////////////////////////////////*/		
/*-----------------------------Toggle Style 3------------------------------------------*/
/*/////////////////////////////////////////////////////////////////////////////////////*/
.show-toggle-v3{		background-image:url(../images/ui/switch-on.png); 				}
.hide-toggle-v3{		background-image:url(../images/ui/switch-off.png);				}

.toggle-v3 a{			color:#999999!important; font-family:'Open Sans', sans-serif!important; font-weight:400!important; font-size:14px; text-transform:uppercase;	}
.toggle-container-v3{	color:#9a9a9a!important; background-color:#f1f1f1;	}

/*/////////////////////////////////////////////////////////////////////////////////////*/		
/*-----------------------------Toggle Style 2------------------------------------------*/
/*/////////////////////////////////////////////////////////////////////////////////////*/
.show-toggle-v2{		background-image:url(../images/lists/delete_16.png);			}
.hide-toggle-v2{		background-image:url(../images/lists/plus_16.png);				}

.toggle-v2 a{			color:#999999!important; font-family:'Open Sans', sans-serif!important; font-weight:400!important; font-size:14px; text-transform:uppercase;	}
.toggle-container-v2{	color:#9a9a9a!important; background-color:#f1f1f1;	}
		
/*/////////////////////////////////////////////////////////////////////////////////////*/		
/*-----------------------------Toggle Style 1------------------------------------------*/
/*/////////////////////////////////////////////////////////////////////////////////////*/
.show-toggle-v1{	background-image:url(../images/ui/minus.png);						}
.hide-toggle-v1{	background-image:url(../images/ui/plus.png);						}

.toggle-v1 a{			color:#999999!important; font-family:'Open Sans', sans-serif!important; font-weight:400!important;	font-size:14px; text-transform:uppercase;	}
.toggle-container-v1{	color:#9a9a9a!important; background-color:#f1f1f1;	}

/*/////////////////////////////////////////////////////////////////////////////////////*/
/*--------------------------Checkboxes and Radios--------------------------------------*/
/*/////////////////////////////////////////////////////////////////////////////////////*/
.checker{			color:#9a9a9a!important;}
.checkbox-v1{		background-image:url(../images/ui/checkbox.png);					}
.checked-v1{		background-image:url(../images/ui/checkbox-selected.png)!important; }
.checkbox-v2{		background-image:url(../images/ui/checkbox2.png);					}
.checked-v2{		background-image:url(../images/ui/checkbox2-selected.png)!important;}
.checkbox-v3{		background-image:url(../images/ui/empty.png);						}
.checked-v3{		background-image:url(../images/ui/cross.png)!important;				}
.checkbox-v4{		background-image:url(../images/ui/empty.png);						}
.checked-v4{		background-image:url(../images/ui/tick.png)!important;				}
.radio-v1{			background-image:url(../images/ui/radio.png);						}
.balled-v1{			background-image:url(../images/ui/radio-selected.png)!important;	}
.radio-v2{			background-image:url(../images/ui/radio2.png);						}
.balled-v2{			background-image:url(../images/ui/radio2-selected.png)!important;	}

/*//////////////////////////////////////////////////////////////////////////////////////*/
/*---------------------------------List Icons-------------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 767px) {
	.icon-lists{																
		text-shadow:0px 1px 0px #FFFFFF;
	}
	
	
	.icon-lists li{		
		line-height:24px;
		margin-bottom:2px;										
		list-style:none;				
		padding-left:30px;
		background-size:16px 16px;
	}
}

.demo{	margin-left:3px;	margin-bottom:3px;}
.list-address{		background-image:url(../images/lists/address_32.png);		}
.list-block{		background-image:url(../images/lists/block_32.png);			}
.list-bookmark{		background-image:url(../images/lists/bookmark_32.png);		}
.list-briefcase{	background-image:url(../images/lists/briefcase_32.png);		}
.list-bubble{		background-image:url(../images/lists/bubble_32.png);		}
.list-buy{			background-image:url(../images/lists/buy_32.png);			}
.list-calendar{		background-image:url(../images/lists/calendar_32.png);		}
.list-clipboard{	background-image:url(../images/lists/clipboard_32.png);		}
.list-delete{		background-image:url(../images/lists/delete_32.png);		}
.list-clock{		background-image:url(../images/lists/clock_32.png);			}
.list-diagram{		background-image:url(../images/lists/diagram_32.png);		}
.list-document{		background-image:url(../images/lists/document_32.png);		}
.list-down{			background-image:url(../images/lists/down_32.png);			}
.list-flag{			background-image:url(../images/lists/flag_32.png);			}
.list-folder{		background-image:url(../images/lists/folder_32.png);		}
.list-gear{			background-image:url(../images/lists/gear_32.png);			}
.list-globe{		background-image:url(../images/lists/globe_32.png);			}
.list-heart{		background-image:url(../images/lists/heart_32.png);			}
.list-help{			background-image:url(../images/lists/help_32.png);			}
.list-home{			background-image:url(../images/lists/home_32.png);			}
.list-key{			background-image:url(../images/lists/key_32.png);			}
.list-label{		background-image:url(../images/lists/label_32.png);			}
.list-left{			background-image:url(../images/lists/left_32.png);			}
.list-letter{		background-image:url(../images/lists/letter_32.png);		}
.list-monitor{		background-image:url(../images/lists/monitor_32.png);		}
.list-pencil{		background-image:url(../images/lists/pencil_32.png);		}
.list-plus{			background-image:url(../images/lists/plus_32.png);			}
.list-present{		background-image:url(../images/lists/present_32.png);		}
.list-print{		background-image:url(../images/lists/print_32.png);			}
.list-right{		background-image:url(../images/lists/right_32.png);			}
.list-save{			background-image:url(../images/lists/save_32.png);			}
.list-shield{		background-image:url(../images/lists/shield_32.png);		}
.list-statistics{	background-image:url(../images/lists/statistics_32.png);	}
.list-stop{			background-image:url(../images/lists/stop_32.png);			}
.list-tick{			background-image:url(../images/lists/tick_32.png);			}
.list-trash{		background-image:url(../images/lists/trash_32.png);			}
.list-up{			background-image:url(../images/lists/up_32.png);			}
.list-user{			background-image:url(../images/lists/user_32.png);			}
.list-walet{		background-image:url(../images/lists/wallet_32.png);		}
.list-warning{		background-image:url(../images/lists/warning_32.png);		}

/*//////////////////////////////////////////////////////////////////////////////////////*/
/*-------------------------Header Notification------------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////////////*/
.header-notification{			font-size:12px; 	text-align:left;	color:#FFFFFF; margin-bottom:-1px!important;}
.header-notification strong{ 	color:#666;}
.warning-notification em{		background-image:url(../images/lists/warning_16.png);}
.close-notification em{			background-image:url(../images/lists/delete_16.png);}
.heart-notification em{			background-image:url(../images/lists/heart_16.png);}
.calendar-notification em{		background-image:url(../images/lists/calendar_16.png);}
.info-notification em{			background-image:url(../images/lists/info_16.png);}

/*//////////////////////////////////////////////////////////////////////////////////////*/
/*-------------------------------CSS3 Buttons-------------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////////////*/

.fullscreen-button{
	width:99%;
	box-sizing:border-box;
	display:block;
	text-align:center;
}

.button, .button-minimal{
	margin-top:10px;
	margin-bottom:20px;	
}


.demo-button{
	margin-right:3px;
	margin-left:3px;
}


/*////////////////////////////////////////////////////////////////////////////////*/
/*--------------------------------Mobile Detectors--------------------------------*/
/*////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 767px) {

.no-detected-background{background-image:none!important;}
.iphone-detected{	background-image:url(../images/icon/mobile/iphone4.png); 				background-size:45px 45px; background-position:4px 4px!important;	background-repeat:no-repeat;}
.ipod-detected{		background-image:url(../images/icon/electrical/ipodclassic.png);	    background-size:45px 45px; background-position:4px 4px!important;	background-repeat:no-repeat;}
.android-detected{	background-image:url(../images/icon/mobile/android.png);	   			background-size:45px 45px; background-position:4px 4px!important;	background-repeat:no-repeat;}
.ipad-detected{		background-image:url(../images/icon/electrical/ipad2.png);	   			background-size:45px 45px; background-position:4px 4px!important;	background-repeat:no-repeat;}

}

/*///////////////////////////////////////////////////////////////////////////////*/
/*----------------------------Classic Notifications------------------------------*/
/*///////////////////////////////////////////////////////////////////////////////*/

.small-notification{	margin-bottom:20px;	}

.green-notification p{		background-image:url(../images/lists/tick_16.png);	background-repeat:no-repeat;		display:inline-block;	height:16px;	padding-left:30px;	color:#060;}
.red-notification p{		background-image:url(../images/lists/delete_16.png);	background-repeat:no-repeat;	display:inline-block;	height:16px;	padding-left:30px;	color:#C00;}
.blue-notification p{		background-image:url(../images/lists/info_16.png);	background-repeat:no-repeat;	display:inline-block;	height:16px;	padding-left:30px;	color:#039;}
.yellow-notification p{		background-image:url(../images/lists/warning_16.png);	background-repeat:no-repeat;	display:inline-block;	height:16px;	padding-left:30px;	color:#666;}


/*///////////////////////////////////////////////////////////////////////////////*/
/*-----------------------------Big Notifications--------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////*/


.red-box{		background-color:#ffdcdd;	border:1px solid #e9b9bb;}
.red-box a{ 	color:#8d4345; font-weight:bold; padding-top:3px; margin-top:-3px!important;}
.red-box h4{	color:#8d4345; font-weight:400; font-size:16px; text-shadow:none;}
.red-box p{		color:#c19597;	border-top: 1px solid #e9b9bb; padding-top:15px; margin-top:8px;}

.yellow-box{	background-color:#fffcdc;	border:1px solid #e9e1b9;}
.yellow-box a{ 	color:#999; font-weight:bold; padding-top:3px; margin-top:-3px!important;}
.yellow-box h4{	color:#999; font-weight:400; font-size:16px;  text-shadow:none;}
.yellow-box p{	color:#999;	border-top: 1px solid #e9e1b9; padding-top:15px; margin-top:8px;}

.green-box{		background-color:#e3ffdc;	border:1px solid #d9e9b9;}
.green-box a{ 	color:#7b8a77; font-weight:bold; padding-top:3px; margin-top:-3px!important;}
.green-box h4{	color:#7b8a77; font-weight:400; font-size:16px;  text-shadow:none;}
.green-box p{	color:#abc0a6;	border-top: 1px solid #d9e9b9; padding-top:15px; margin-top:8px;}

.blue-box{		background-color:#dcf9ff;	border:1px solid #b9d9e9;}
.blue-box a{ 	color:#90a9b2; font-weight:bold; padding-top:3px; margin-top:-3px!important;}
.blue-box h4{	color:#90a9b2; font-weight:400; font-size:16px;  text-shadow:none;}
.blue-box p{	color:#90a9b2;	border-top: 1px solid #b9d9e9; padding-top:15px; margin-top:8px;}



/*/////////////////////////////////////////////*/
/*-------------Contact Form--------------------*/
/*/////////////////////////////////////////////*/

.contactField{
	background-color:rgba(255,255,255,0.4);
	font-size:12px;
	color:#666;
	border:solid 1px #cacaca;
}

.contactTextarea{
	background-color:rgba(255,255,255,0.4);
	font-size:12px;
	border:solid 1px #cacaca;
	color: #666;
}

/*/////////////////////////////////////////////*/
/*-------------Sign In Form--------------------*/
/*/////////////////////////////////////////////*/

.sign-in-form{
	background-color:#FFFFFF;
	border:solid 1px #cacaca;
	-webkit-box-shadow: inset 0px 0px 0px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 		inset 0px 0px 0px 5px rgba(0, 0, 0, 0.1);
	margin-bottom:20px;
}

.username-password-field{
	width:100%;
	display:block;
	border:solid 1px #cacaca;
	margin-bottom:10px;
	height:30px;
	font-size:12px;
	padding-left:10px;
	padding-right:10px;
	color:#9a9a9a;
}


/*//////////////////////////////////////////////////////////////////////////////////////*/
/*-----------------------------Page Divider---------------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////////////*/

.decoration{
	background-color:#cacaca;
	height:2px;
	background-repeat:repeat;
	border-bottom:solid 1px #FFFFFF;
	margin-bottom:10px;
	display:block;
	width:100%;
	clear:both;
}

.footer-decoration{
	border-bottom: 1px dotted rgba(255,255,255,0.3);
	height:1px;
	margin-bottom:20px;
	margin-left:20px;
	margin-right:20px;
}


/*//////////////////////////////////////////////////////////////////////////////////////*/
/*-----------------------------Pre Styling----------------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////////////*/

.code{
	border:solid 1px #cacaca;
	font-size:12px;
	margin-bottom:30px;
}

.wline{
	display:block;
	background-color:#FFFFFF;
	padding-left:10px;
	padding-right:10px;
	padding-top:8px;
	padding-bottom:8px;
}

.code > span:last-child{
	border-bottom:none;
}

.gline{
	border-top:solid 1px rgba(0,0,0,0.1);
	border-bottom:solid 1px rgba(0,0,0,0.1);
	display:block;
	background-color:#f1f1f1;
	padding-left:10px;
	padding-right:10px;
	padding-top:8px;
	padding-bottom:8px;
}	

/*//////////////////////////////////////////////////////////////////////////////////////*/
/*-----------------------------Portfolio Styles-----------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////////////*/

/*Filtrable Styles*/

.filtrable-caption{
	font-size:10px!important;
	padding-bottom:5px;
	padding-top:5px;
	margin-bottom:0px!important;
	text-align:center;
	background-color:#3c3c3c;
	text-transform:uppercase;
}

.gallery-filtrable{
	margin-top:10px;
}

.filtrable-button{
	font-size:11px;
	text-decoration:none;
	display:inline;
	padding-right:5px;
	padding-left:5px;
}

.filtrable-button:hover{
	text-decoration:underline;
}


/*Fullwidth portfolio Styles*/

.portfolio-item-full-width a{
	background-color:#FFFFFF;
	padding:5px;
	border:solid 1px #cacaca;
	font-size:10px;
	text-align:center;
	line-height:18px;
	text-transform:uppercase;
	margin-bottom:10px;
}

.filtrable-caption{
	color:#FFFFFF;
}

/*Thumbnail Portfolio Styles*/

.portfolio-item-thumb a{
	background-color:#FFFFFF;
	padding:5px;
	border:solid 1px #cacaca;
	text-align:center;
	font-size:10px;
	line-height:18px;
	margin-bottom:10px;
	text-transform:uppercase;
}


/*//////////////////////////////////////////////////////////////////////////////////////*/
/*-----------------------------Blog Posts-----------------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////////////*/


@media screen and (orientation:portrait) {
	.post-image img{	display:block;	max-width:100%;	}
}

@media screen and (orientation:landscape) {
	.post-image{		float:left;		width:130px;		margin-right:10px;	}
}

.post-details{
	display:block;
	width:100%;
}

.blog-post-image{
	margin-top:10px;
	margin-bottom:10px;
	display:block;
	max-width:100%;
	overflow:visible!important;
	background-color:#FFFFFF;
	padding:4px;
	border:solid 1px #cacaca;
}

.blog-post p{
	margin-bottom:10px;
}


.posted-by{
	background-image:url(../images/blog/user.png);
	background-repeat:no-repeat;
	background-position:0px 4px;
	padding-right:20px;
	padding-left:25px;
	margin-bottom:5px;
	font-size:10px;
	float:left;
	color:#333;
	text-shadow:0px 1px 0px #FFFFFF;
}

.posted-at{
	background-image:url(../images/blog/time.png);
	background-repeat:no-repeat;
	background-position:0px 4px;
	padding-right:20px;
	padding-left:25px;
	margin-bottom:5px;
	font-size:10px;
	float:left;
	color:#333;
	text-shadow:0px 1px 0px #FFFFFF;
}

.posted-cat{
	background-image:url(../images/blog/cat.png);
	background-repeat:no-repeat;
	background-position:0px 4px;
	padding-right:20px;
	padding-left:25px;
	margin-bottom:5px;
	font-size:10px;
	float:left;
	color:#333;
	text-shadow:0px 1px 0px #FFFFFF;
}
.detail_foot{
	padding-right:20px;
	margin-bottom:5px;
	font-size:16px;
	float:left;
	color:#333;
	text-shadow:0px 1px 0px #FFFFFF;
}

.posted-tag{
	padding-right:20px;
	margin-bottom:5px;
	font-size:10px;
	float:left;
	color:#333;
	text-shadow:0px 1px 0px #FFFFFF;
}

.posted-more{
	background-image:url(../images/blog/more.png);
	background-repeat:no-repeat;
	background-position:0px 4px;
	padding-right:20px;
	padding-left:25px;
	margin-bottom:5px;
	font-size:10px;
	float:left;
	color:#333;
	text-shadow:0px 1px 0px #FFFFFF;
}

.ads img{
	background-color:#FFFFFF;
	padding:3px;
	border:solid 1px #cacaca;
	float:left;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:10px;
}

.ads{
	width:290px;
	margin:auto;
}

.recent-post img{
	background-color:#FFFFFF;
	padding:3px;
	border:solid 1px #cacaca;
	float:left;
	margin-right:10px;
}

.recent-post strong{
	font-weight:300;
	display:inline-block;
	padding-bottom:5px;
	font-size:1.6rem;
	
}

.recent-post a{
	padding-top:5px;
	display:inline-block;
	float:right;
}


/*///////////////////////////*/
/*-------Speach Bubble------*/
/*///////////////////////////*/


.speach-left{	background-color:#FFFFFF;	border:solid 1px #cacaca;}
.speach-right{	background-color:#FFFFFF;	border:solid 1px #cacaca;}

.speach-left-title{		color:#000000;	text-shadow:0px 1px 0px #FFFFFF;}
.speach-right-title{	color:#000000;	text-shadow:0px 1px 0px #FFFFFF;}

/*/////////////////////////////////////////////////////////////*/
/*---------------------DROPDOWN MENU---------------------------*/
/*/////////////////////////////////////////////////////////////*/

.dropdown-deploy{	color:#333333;	background-color:#FFFFFF;	background-repeat:no-repeat;		border:solid 1px #cacaca;	border-bottom:none!important;}
.dropdown-hidden{	color:#333333;	background-color:#FFFFFF;	background-repeat:no-repeat;		border:solid 1px #cacaca;	border-bottom:none!important;}
.dropdown-item{		border:solid 1px #cacaca;	border-bottom:none!important;}

/*/////////////////////////////////////////////////////////////*/
/*------------------------TABS MENU----------------------------*/
/*/////////////////////////////////////////////////////////////*/

.tab-but{
	background-color:#ececec;
	padding-left:15px;
	padding-right:15px;
	padding-top:7px;
	padding-bottom:10px;
	color:#999;
	font-weight:500;
	text-shadow:0px 1px 0px #ffffff;
	border:solid 1px #cacaca;
	outline: 1px solid #ffffff;
	outline-offset: -2px
}

.tab-content{
	border:solid 1px #cacaca;	
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	font-size:12px;
	background-color:#ececec;
	outline: 1px solid #ffffff;
	outline-offset: -2px; /*Delete if you don't want an offset*/
}

.tab li.active a { 	
	background: #dddddd; 
	color:#252525; 
}


/*Modal Form*/

#modal-hider{
	display:none;
}

#modal-body{
	display:none;
}

#modal-hider{
	position:fixed;
	background-color:rgba(0,0,0,0.8);
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	width:100%;
	height:100%;
	z-index:99999;
}

#modal-body{
	border-top:solid 3px rgba(0,0,0,0.3);
	border-bottom:solid 3px rgba(0,0,0,0.3);
	position:relative;
	z-index:999999;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	padding:20px;
	background-color:#FFFFFF;
}

.modal-logo{
	font-family:'Dosis', sans-serif;	
	font-size:18px;
	font-weight:600;
	margin-bottom:10px;

}

.close-modal-text{
	font-size:12px;
	font-family:'Dosis', sans-serif;
	font-weight:600;
	font-style:normal;
	float:left;
}

.close-modal{
	font-size:12px;
	font-family:'Dosis', sans-serif;
	font-weight:600;
	text-decoration:none;
	color:#e34e47;
	position:relative;
	float:right;
	margin-top:-1px;
	margin-bottom:10px;
}


.modal-logo-heading{
	text-align:center;
	color:#818181;
	font-family:'Open Sans', sans-serif;
	font-size:11px;
	line-height:16px;
	text-shadow:0px 1px 0px #FFFFFF;
}


.text-input{
	width:96%;
	margin-left:2%;
	box-sizing:border-box;
	background-color:#FFFFFF;
	border-radius:2px;
	border:solid 1px #d2d9dc;	
	-webkit-box-shadow: 0px 0px 0px 5px rgba(243, 244, 245, 1);
	box-shadow: 0px 0px 0px 5px rgba(243, 244, 245, 1);
	padding:8px;
	font-size:10px;
	color:#c4c4c4;
	font-style:italic;
	margin-bottom:5px;
	overflow:visible;
	margin-bottom:10px;
}

#name_label{
	margin-left:2%;
	font-family:'Dosis', sans-serif;
	font-weight:600;
	font-size:14px;
	color:#656565;
}

#contactName{
	margin-bottom:10px;
}

#contactEmail{
	margin-bottom:-5px!important;
}

#email_label{
	margin-top:20px;
	margin-left:2%;
	font-family:'Dosis', sans-serif;
	font-weight:600;
	font-size:14px;
	color:#656565;
}


#left_label_name{
	text-align:right;
	font-size:10px;
	font-style:italic;
	text-shadow:0px 1px 0px #FFFFFF;
	color:#a3a3a3;
	font-family:'Open Sans', sans-serif;
	margin-top:-20px;
	padding-bottom:5px;
	margin-bottom:10px;
}

#left_label_mail{
	text-align:right;
	font-size:10px;
	font-style:italic;
	text-shadow:0px 1px 0px #FFFFFF;
	color:#a3a3a3;
	font-family:'Open Sans', sans-serif;
	margin-top:-20px;
	padding-bottom:5px;
	margin-bottom:10px;
}

#contactMessage{display:none;}
#messageError{display:none;}

.contactButton{
	float:right;
	margin-right:3px;
	margin-top:21px;
	margin-bottom:5px;
	paddiing-top:5px!important;
	padding-bottom:8px!important;
	line-height:30px!important;
}

.contact-social-set em{
	text-shadow:0px 1px 0px #FFFFFF;
	font-size:14px;
	padding-bottom:5px;
	display:block;
	font-family:'Dosis', sans-serif;
	color:#656565;
	font-weight:600;
	font-style:normal;
}

.contact-social-set a{
	padding-right:2px;
	padding-left:2px;
}

.modal_disable{
	color:#9b9b9b;
	font-size:10px;
	font-family:'Open Sans', sans-serif;
	text-align:center;
	display:block;
	text-decoration:underline;
}

.contact-social-set{
	margin-top:-70px;
	margin-left:5px;
	width:140px;
}

.contact-social-set em{
	padding-bottom:10px;
}

.contact-social-set a{
	float:left;
	padding-right:15px;
}

		